/*
Theme Name: Sharkweel
Theme URI: http://wordpress.org/themes/twentythirteen
Author: MRmobi
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready
Text Domain: sharkweel
*/


html, body {
    margin-top: 0px;
}

@media (max-width: 767px){
    .galleryslider-div ul li div { padding: 0px !important; }
    .galleryslider-div {margin: 50px 15px !important;}
}


.header-class{
background-image: url("images/tlo1.png");
    background-size: cover;
	overflow:hidden;
	margin-left:0px;
	margin-right:0px;
    padding-bottom: 50px;
}

.header-text{
    /*padding-top:200px;*/
}

.shark-wheel{
background-color:black;
padding-bottom:40px;
padding-top:40px;
	margin-left:0px;
	margin-right:0px;
}
.shark-wheel-slant{

}

.angle:after { 
    width: 0;
    height: 0;
    content: "";
    border-top: 81px solid black;
    border-right: 400px solid transparent;
    position: absolute;
    right: -400px;
    top: -1px;
}

.angle {
	position: relative;
	width: 0%;
	height: 0px;
	border-top: 1px solid black;
}

.shark-wheel p {
    color:white;
    font-size:18px;
    padding-top:40px;
    text-align: justify;
}

.darken-img{
opacity: 0.6;
}
.main-img{
padding-top:40px;
}

.about-tech{
background-image: url("images/siatka.png"); 
background-size: 100% 100%;
padding-top:40px;
padding-bottom:20px;
	margin-left:0px;
	margin-right:0px;
}

.about-tech p{
padding-left:60px;
}


.main-order{
background-image: url("images/tlo3.png");
    background-size: cover;
	padding-top:250px;
	padding-bottom:250px;
	margin-left:0px;
	margin-right:0px;
}

.main-order p{
color:white;
font-size:24px;
border:4px solid white;
padding:25px;
}

.main-order img{
padding-right:35px;
}


.main-aktualnosci{
	margin-left:0px;
	margin-right:0px;
	padding-bottom:80px;
}

.main-aktualnosci h3 {
padding-top:20px;
}

.main-aktualnosci p {
padding-top:40px;
padding-bottom:40px;
}

.main-aktualnosci-img{
padding-top:40px;
}
.line-gray {
	border-color: #dadada; 
	border-style: solid; 
	border-width: 1px;
}

.main-aktualnosci-text{
    padding: 60px;
}


.main-kontakt{
margin-left:0px;
margin-right:0px;
background-image: url("images/deskorolka2.png");
    background-size: cover;
padding-top:100px;
padding-bottom:50px;
}

.main-kontakt-text{
color:white;
font-size:20px;
padding:40px;

border-radius: 50%;
width:320px;
height:320px;
border: 1px transparent;
background:rgba(255,255,255, 0.05);
}

.main-kontakt-text p{
padding-top:20px;
}


.nav-bar-div-custom {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}
.nav-bar-div-custom div ul li a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 17px;
}
.nav-bar-div-custom div ul li a:hover {
    background:none;
    opacity: 0.8;
    border-bottom: 1px solid #ffffff;
}
.nav-bar-button-custom {
    width: 70px;
}
.nav-bar-button-custom span {
    background-color: #ffffff;
    width: auto !important;
}
.paralelogram {
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -o-transform: skewY(-2.5deg);
}

.paralelogram > div {
    -moz-transform: skewY(2.5deg);
    -webkit-transform: skewY(2.5deg);
    -o-transform: skewY(2.5deg);
}
.galleryslider-div {
    margin: 100px 0px;
    display: inline-block;
}
.galleryslider-div ul {
    padding: 0;
}
.galleryslider-div ul li {
    display: block;
}
.galleryslider-div ul li div {
    margin: 0 auto;
    width: auto;
    padding-left: 40px;

}
.galleryslider-div ul li div a {
    overflow: hidden;
}
.galleryslider-img {
    border-radius: 50%;
    margin: 20px 20px;
}


.shop{
padding: 40px;
margin-left:0px;
margin-right:0px;
background-image: url("images/shop_background.png");
background-size: cover;

}
.shop h3{
font-size:32px;
color:white;
}

.shop p{
padding-top:10px;
padding-left:25px;
padding-bottom:10px;
font-size:14px;
color:black;
background-color:rgb(194, 190, 190);
}

.shop_show_product{
background-color: white;
padding-top:80px;
padding-bottom:80px;
}

.shop_arrows{
position: absolute;
filter: invert(100%);
}

.shop_picker img{
position: absolute;
right: 25px;
-ms-transform: rotate(90deg) scale(0.5,0.5) translateX(-15px); /* IE 9 */
-webkit-transform: rotate(90deg) scale(0.5,0.5) translateX(-15px); /* Chrome, Safari, Opera */
transform: rotate(90deg) scale(0.5,0.5) translateX(-15px);
}

.shop_bottom{
padding-top:20px;
}


.shop_bottom p {
background-color:rgba(0,0,0,0);
color:white;
font-size:32px;
border:4px solid white;
padding:25px;
transform: translateY(30px);
}

.shop_bottom_img{
border-radius: 50%;
width:160px;
height:160px;
border: 1px transparent;
background:rgb(255,255,255);
}

.shop_bottom_arrows{
position: absolute;
transform: scale(0.5,0.5) translateY(115px);
}
.shop_bottom_img img{
transform:translateY(30px);
}

.move {

	
	-webkit-animation: anim2 ease-in-out 3s infinite alternate;
	-moz-animation: anim2 ease-in-out 3s infinite alternate;
}
@-webkit-keyframes anim2
{
   from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 0; -webkit-transform: scale(0.8) rotate(10deg)  }
   to   {left: 0; -webkit-transform: scale(1.2) rotate(-20deg) }
}
@-moz-keyframes anim2
{
   from {left: 0px;   -moz-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 0; -moz-transform: scale(0.8) rotate(10deg)  }
   to   {left: 0; -moz-transform: scale(1.2) rotate(-20deg) }
}